@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
		
		.wrapper
		{
			width:760px;
			margin:0 auto 5em auto;
		}
		.main
		{
			overflow:hidden;
		}
		.error-spacer
		{
			height:4em;
		}
		a, a:visited
		{
			color:#2972A3;
		}
		a:hover
		{
			color:#72ADD4;
		}